html, body {
    height: 100%;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

p {
    margin: 10px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header {
    flex-shrink: 0;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ccc;
}
